{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'library_baza:books' %}">
        <img src="{% static 'img/rocket.png' %}" width="30" height="30" class="d-inline-block align-top" alt="logo"/>
        LibraryApp
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            {% if not perms.library.add_book %}
                <a class="nav-link disabled" href="{% url 'library_baza:new' %}">New book</a>
            {% else %}
                <a class="nav-link" href="{% url 'library_baza:new' %}">New book</a>
            {% endif %}
        </li>
    </ul>

    {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'logout' %}">Logout {{ user.get_username }}</a>
    {% endif %}

</nav>